{
  "openapi": "3.0.0",
  "info": {
    "title": "ValidatePassengerBo",
    "version": "1.0",
    "description": "Validate Passsenger status against SITA PFM Service"
  },
  "servers": [
    {
      "url": "http://aai.stg.sita.com:3000/PFMValidationService",
      "description": "AAI Staging Env"
    }
  ],
  "paths": {
    "/passenger/validate": {
      "get": {
        "summary": "ValidatePassenger",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationRespnseBo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuthCreds": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "workstationId",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "x-examples": {},
                "type": "object",
                "title": "",
                "properties": {
                  "dataType": {
                    "type": "string",
                    "enum": [
                      "PNR",
                      "BARCODE"
                    ]
                  },
                  "pnrData": {
                    "type": "object",
                    "properties": {
                      "pnr": {
                        "type": "string"
                      },
                      "fname": {
                        "type": "string"
                      },
                      "lname": {
                        "type": "string"
                      }
                    }
                  },
                  "barodeData": {
                    "type": "object",
                    "properties": {
                      "barcode": {
                        "type": "string"
                      }
                    }
                  },
                  "validationTypes": {
                    "type": "array",
                    "enum": [
                      "DUPLICATE_CHECK",
                      "FIDS_CHECK",
                      "SEQ_CHECK",
                      "DCS_CHECK"
                    ],
                    "items": {}
                  },
                  "requestId": {
                    "type": "string"
                  }
                },
                "required": [
                  "dataType",
                  "validationTypes",
                  "requestId"
                ],
                "description": "RequestBo sent by touchpoint to PFM Server "
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuthCreds": {
        "type": "oauth2"
      }
    },
    "schemas": {
      "ValidationRequestBo": {
        "x-examples": {},
        "type": "object",
        "title": "",
        "properties": {
          "dataType": {
            "type": "string",
            "enum": [
              "PNR",
              "BARCODE"
            ]
          },
          "pnrData": {
            "type": "object",
            "properties": {
              "pnr": {
                "type": "string"
              },
              "fname": {
                "type": "string"
              },
              "lname": {
                "type": "string"
              }
            }
          },
          "barodeData": {
            "type": "object",
            "properties": {
              "barcode": {
                "type": "string"
              }
            }
          },
          "validationTypes": {
            "type": "array",
            "enum": [
              "DUPLICATE_CHECK",
              "FIDS_CHECK",
              "SEQ_CHECK",
              "DCS_CHECK"
            ],
            "items": {}
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "dataType",
          "validationTypes",
          "requestId"
        ],
        "description": "RequestBo sent by touchpoint to PFM Server "
      },
      "ValidationRespnseBo": {
        "title": "ValidationRespnseBo",
        "type": "object",
        "x-examples": {
          "example-1": {}
        },
        "properties": {
          "validationResult": {
            "type": "object",
            "properties": {
              "dcs_checkResult": {
                "type": "object",
                "properties": {
                  "result": {
                    "type": "string",
                    "enum": [
                      "SUCCESS",
                      "FAILURE"
                    ]
                  },
                  "failureReson": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "failureCode": {
                          "type": "string"
                        },
                        "failureDescription": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "result"
                ]
              },
              "fids_checkResuLt": {
                "type": "object",
                "properties": {
                  "result": {
                    "type": "string",
                    "enum": [
                      "SUCCESS",
                      "FAILURE"
                    ]
                  },
                  "failureReason": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "failureCode": {
                          "type": "string"
                        },
                        "failureDescription": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "flightInfo": {
                "type": "object",
                "properties": {
                  "carrierCode": {
                    "type": "string"
                  },
                  "flightNumber": {
                    "type": "string"
                  },
                  "airportCode": {
                    "type": "string"
                  },
                  "terminal": {
                    "type": "string"
                  },
                  "boardingPoint": {
                    "type": "string"
                  },
                  "offPoint": {
                    "type": "string"
                  },
                  "std": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "itineraryInfo": {
                "type": "object",
                "properties": {
                  "numberOfPassengers": {
                    "type": "integer"
                  },
                  "passengers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "infant": {
                          "type": "boolean"
                        },
                        "fname": {
                          "type": "string"
                        },
                        "lname": {
                          "type": "string"
                        },
                        "seqNumber": {
                          "type": "string"
                        },
                        "primary": {
                          "type": "boolean"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "CHECKED_IN",
                            "BAGGAGE_CHECKED_IN_PAX_NOT_CHCKED_IN",
                            "BAGGAGE_AND_PAX_CHECKED_IN",
                            "PAX_PASSED_SECURITY_CHECK",
                            "PAX_PASSED_EXIT_GATE",
                            "TRANSIT_PASSENGER",
                            "STANDBY_PASSENGER"
                          ]
                        },
                        "referenceKeys": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "enum": [
                                  "DIGIYATRA_ID",
                                  "FQTVNUMBER"
                                ]
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}